body {
  maargin: 0;
}

.container {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #303030;
  background-color:gray;
}

ul {
  list-style-type: none;
  padding: 0;
}

.main-title {
  letter-spacing: 6px;
  font-size: 2em;
  font-weight: bold;
}

.left-section {
  background-color: orange;
  width: 30%;
  height: 100vh;
  padding: 30px;
  box-shadow: 0 0 20px 0 #888888;
  text-align: center;
}

.right-section {
  background-color: white;
  padding: 30px;
  text-align: center;
  align-items: center;
  width: 70%;
  height: 100%;
}

.task-container {
  display: flex;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px #ff9933;
}

.task-text {
  text-align: left;
  width: 70%;
}

.task-timeCap {
  text-align: center;
  font-size: 2em;
}


/* --------------------- */

.timer {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Sets the containers height and width */
.base-timer {
  /* display: block; */
  position: relative;
  height: 300px;
  width: 300px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 3px;
  stroke: orange;
}

.base-timer__inside-text {
  position: absolute;
  
  /* Size should match the parent container */
  width: 300px;
  height: 300px;
  
  /* Keep the label aligned to the top */
  top: 0;
  
  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.base-timer__inside-label {
  font-size: 48px;
  margin: 10px 0 0 0;
}

.base-timer__inside-description {
  margin: 10px 0 0 0;
}

.button-box {
  /* display: block; */
  width: 100%;
  background: yellow;
  height: 100%;
}